$main-bg-color: #1a1b26;
$secondary-bg-color:#12121a;
$light-text: #cad4f0;
$error: #e23636;

$accent-primary: #f7768e; /*Pink*/
$accent-secondary:#f19e50; /*Orange*/
$accent-tertiary:#ac9ad5; /*Light Purple*/

/*Cool-tinted Grayscale*/
$gray5: hsl(240, 13%, 5%);
$gray10: hsl(240, 8%, 9%);
$gray15: hsl(240, 6%, 14%);
$gray20: hsl(240, 6%, 19%);
$gray25: hsl(240, 6%, 24%);
$gray30: hsl(240, 6%, 29%);
$gray35: hsl(240, 8%, 33%);
$gray40: hsl(240, 8%, 38%);
$gray45: hsl(240, 8%, 43%);
$gray50: hsl(240, 10%, 48%);
$gray55: hsl(240, 10%, 53%);
$gray60: hsl(240, 10%, 58%);
$gray65: hsl(240, 10%, 63%);
$gray70: hsl(240, 15%, 68%);
$gray75: hsl(240, 20%, 73%);
$gray80: hsl(240, 30%, 78%);
$gray85: hsl(240, 40%, 83%);
$gray90: hsl(240, 50%, 87%);
$gray95: hsl(240, 60%, 93%);
