/* CSS Variables*/
:root {
  --main-bg-color: 26, 27, 38;
  --secondary-bg-color:18, 18, 26;
  --light-text: 151, 167, 210;
  --accent-primary:172, 154, 213; /*Light Purple*/
  --accent-secondary: 247, 118, 142; /*Pink*/
  --accent-tertiary:241, 158, 80; /*Orange*/

}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
html, body, 
h1, h2, h3, h4, h5, h6,
li, dl, dd,
figure, figcaption, blockquote{ margin: 0; padding:0;}

h3 {font-size:17px; color:rgb(var(--accent-secondary)); font-weight:normal;}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font:16px/1.4 'Open Sans', sans-serif;
  color: rgb(var(--light-text));
  background: rgb(var(--main-bg-color));
  
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class], ol[class] {margin:0; padding: 0; list-style: none;}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input, button, textarea, select {font: inherit;}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}